$slide: 'slide-00';
@import "engine";

.#{$slide} {
  .slide-title {
    margin-top: 48px;
    width: 651px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 109%;
  }

  .packs {
    width: 595.14px;
    height: 215.53px;
    position: absolute;
    top: 245.25px;
    left: 220.38px;
    animation-fill-mode: both;
    animation-name: opacity;
    animation-duration: 400ms;
    animation-delay: 1000ms;
  }

  .caption {
    top: 479px;
    position: absolute;
    width: 428px;
    left: 50%;
    transform: translate(-50%);

    animation-fill-mode: both;
    animation-name: opacity;
    animation-duration: 400ms;
    animation-delay: 1000ms;
  }

  .first_plan {
    width: 426px;
    position: absolute;
    right: 17px;
    top: 150px;
    bottom: 60px;
  }
}

// animations
.#{$slide} {
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  // inital state
  &.slide-active {
    // active state
  }
}
